<configuration xmlns:patch="http://www.sitecore.net/xmlconfig/" xmlns:set="http://www.sitecore.net/xmlconfig/set/">
  <sitecore>
    <contentTesting>
      <screenshotContextFactory>
        <patch:attribute name="type">Sitecore.Support.ContentTesting.Screenshot.ScreenshotContextFactory, Sitecore.Support.154580</patch:attribute>
      </screenshotContextFactory>
    </contentTesting>
  </sitecore>
</configuration>